<p>Guests: 
    <% if guests.present? %>
        <% guests.each do |g| %>
            <%= link_to g.name, user_path(g) %>
            <% if g != guests.last %>
                &nbsp &nbsp | &nbsp &nbsp
            <% end %>
        <% end %>
    <% else %>
        No Guests Have Signed Up Yet
    <% end %>
</p>

