<h1>Events#index</h1>
<p><%= link_to "Create New Event", new_event_path %></p>
<hr>

<% if @events.empty? %>
    <h3><%= link_to "Add an Event", new_event_path %></h3>
<% else %>
    <% @events.each do |event| %>
        <%= render "event_info", event: event %>
    <% end %>
<% end %>