<h1>Locations#show</h1>
<p>
    <%= link_to "See All Locations", locations_path %> 
    &nbsp &nbsp | &nbsp &nbsp 
    <%= link_to "Create New Location", new_location_path %> 
</p>
<hr>
<%= render "location_info", location: @location %>

